@model SkillsTracker.Models.DeveloperSkill

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>DeveloperSkill</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.SkillLevel)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SkillLevel)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Developer.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Developer.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Skill.name)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Skill.name)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Notes)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Notes)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { developerId = Model.DeveloperId, skillId = Model.SkillId }) |
    @Html.ActionLink("Back to List", "Index")
</p>
